<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="target" value="localhost"/>
    <add key="port" value="8603"/>
  </appSettings>
  <specFlow>
  <unitTestProvider name="NUnit" /></specFlow>
</configuration>