<div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>{{#linkTo index}}Index{{/linkTo}}
                        </li>
                        <li>{{#linkTo documents}}Documents{{/linkTo}}
                        </li>
                        <li>{{#linkTo api}}API{{/linkTo}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="push-top"></div>
        {{outlet}}
        <div id="push-bottom"></div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="muted credit">Written by <a href="https://github.com/Myslik" target="_blank">Premysl Krajcovic</a>.</p>
    </div>
</div>
