<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="content.name"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="content.description"}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="words">Words</label>
        <div class="controls">
            {{view Ember.TextField valueBinding="content.words"}}
        </div>
    </div>
    <div class="form-actions" style="border: none; background-color: transparent;">
        <button class="btn btn-primary" {{action "update" content}}>Create</button>
        <button class="btn" {{action "cancel" content}}>Remove</button>
    </div>
</form>
