<div style="margin: auto; width: 300px; border: 1px solid #e5e5e5; background: whiteSmoke; padding: 20px;">
    <form>
        <fieldset>
            <legend>New Translation</legend>
            <label><i class="icon-user"></i> You</label>
            <input type="text" class="input-xlarge" placeholder="you@email.com">
            <label><i class="icon-user"></i> Translator</label>
            <input type="text" class="input-xlarge" placeholder="translator@email.com">
            <br /><br />
            <a href="#" class="btn btn-primary disabled" style="width: 110px; text-align: left; margin:auto; display: block;">
                <img alt="upload" src="/Images/upload.png" style="float: left; margin: 6px 10px 2px 4px;" />
                <span><strong>Upload</strong><br />
                    <small>Translation</small></span>
            </a>
        </fieldset>
    </form>
</div>

