.editor .editor-show {
    border: 1px solid transparent;
    padding: 4px 6px;

    cursor: pointer;
}

.editor .editor-show:hover {
    border: 1px solid #eee;
}

.editor .message {
    margin-left: 10px;
}

.editor input,
.editor textarea {
    margin-bottom: 0;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%);

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.editor input:focus,
.editor textarea:focus {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.editor-help {
    font-size: 12px;
    font-weight: normal;
}