/* Body and structure
------------------------- */
body {
  position: relative;
  padding-top: 60px;
}

/* CUSTOMIZE THE NAVBAR
--------------------------*/
body > .navbar {
    font-size: 13px;
}